{% extends 'base.html.twig' %}

{% block body %}
    {% for pokemon in pokemons %}
        <p>{{ pokemon.name}} </p>
    {% endfor %}

    {% for attack in attacks %}
        <p>{{ attack.name}} </p>
    {% endfor %}
{% endblock %}

